body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}


label {
    font-size: 18px;
}

.form-group {
    margin-bottom: 20px;
}


button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #3f51b5;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #303f9f;
}

select,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}
